@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h3 class="text-center">Access Denied</h3>
            </div>
            <div class="card-body text-center">
                <i class="fas fa-exclamation-triangle fa-3x text-danger mb-3"></i>
                <p>You do not have permission to access this resource.</p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Home</a>
            </div>
        </div>
    </div>
</div>